
.nav-one{
    height: 80px;
    background-color: #005d99;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
  .nav-one h5{
    display: inline-block;
    margin: 15px 20px;
    color: white;
}
  .nav-one ul{
    float: right;
    margin-bottom: 0;
    margin-right: 40px;
    list-style: none;
}
  .nav-one ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 5px;
    z-index: inherit;
}
  .nav-one ul li a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: .8s;
    font-family: 'Inter', sans-serif;
}
  .nav-one ul li a:hover{
    color: gold;
}
  nav label{
    float: right;
  }
  .nav-one label #button,
  .nav-one label #close{
    color: whitesmoke;
    font-size: 32px;
    margin-right: 30px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    
}
#check{
    display: none;
}

@media (max-width : 968px) {
  /* Navbar */
  
  .nav-one label #button{
    display: block;
}
  .nav-one ul{
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    margin : 0;
    top: 80px;
    text-align: center;
    transition: all 1s;
    background-color: #005d99;
    padding: 0;
}
  .nav-one ul li{
    display: block;
    line-height: 40px;
    margin: 50px 20px 0 20px;
}
  .nav-one ul li{
    border-bottom: 1px solid #000;
  }

  #check:checked ~ ul{
    right : 0;
  }
  #check:checked ~ label #button{
    display: none;
  }
  #check:checked ~ label #close{
    display: block;
}
}