
.art-text{
    padding: 0;
}

.container{
  overflow: hidden;
}

.icon{
  color: #000;
  font-size: 45px;
  
}
.icon i{
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 0 20px white;
}

.icon:hover{
  color: white;
  transition: all 1s;
}
.icon:hover i{
  background-color: black;
  border-radius: 100%;
  box-shadow: 0 0 15px black;
}

.carousel-item img{
  height: 620px;
}

p, li{
    font-size: 18px;
    color: grey;
}
footer ul li a{
  font-family: 'Inter', sans-serif;
}

.blog-post-title{
    font-family: "playfair Display";
}

  footer ul li{
    list-style-type: none;
  }
  footer ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #333;
  }
  section{
    padding-top: 5rem;
  }
  @media (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    footer ul{
        display: block;
    }
    
    section{
      padding-top: 0;
    }
    
  }

  /* Navbar */
  