/* Image Slide */
.carousel-caption p{
    color: white;
}
.slide-caption{
    position: relative;
    
}
.slide-text{
    opacity: 0;
    transition: all 1s ease;
    text-align: left;
}
.carousel-caption h1{
    font-family: "playfair Display";
}
.slide-text:hover{
    opacity: 1;
}
@media (max-width : 720px) {
    .slide-caption{
        position: relative;
        
    }
    .slide-text{
        opacity: 0;
        transition: all 1s ease;
        text-align: left;
    }
    .carousel-caption h1{
        font-family: "playfair Display";
    }
    .slide-text:hover{
        opacity: 1;
    }
    .carousel-item img {
        height: 360px;
    }
}
/* End Image slide */